.App {
  text-align: center;
  background-image: url("./thumb-1920-201831.png");
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.details{
  font: italic small-caps bold 16px/2 cursive;
}

.button-class{
  width: 100px;
  height: 100px;
}

.App-link {
  color: #61dafb;
}

.lab {
  color: #61dafb;
}
.backg{
  background-image: url("./df4e8ba28f912bf9cdf9fa0dfc196411.png");
  font-size: 0.9em;
  background-position: right 65% bottom 25%;  font-weight: bold;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

